<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Spring Thyme Seed Starter Manager</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" media="all"
	href="../../bootstrap/css/bootstrap.min.css"
	th:href="@{/bootstrap/css/bootstrap.min.css}" />
</head>

<body>

	<form action="#" class="form-horizontal">
		<div class="form-group col-sm-6">
			<label for="inoo" class="control-label col-xs-3 col-sm-3">姓氏</label>
			<div class="col-xs-9 col-sm-9">
				<input type="text" class="form-control" placeholder="Joe"
					id="index-name"> <span
					class="glyphicon glyphicon-ok form-control-feedback"
					aria-hidden="true"></span>
			</div>
		</div>
		<div class="form-group col-sm-6">
			<label for="inoo" class="control-label col-xs-3 col-sm-3">名称</label>
			<div class="col-xs-9 col-sm-9">
				<input type="text" class="form-control">
			</div>
		</div>
		<div class="form-group col-sm-6">
			<label for="inoo" class="control-label col-xs-3 col-sm-3">电话</label>
			<div class="col-xs-9 col-sm-9">
				<input type="text" class="form-control" placeholder="13888888888"
					id="index-phone"> <span
					class="glyphicon glyphicon-ok form-control-feedback"
					aria-hidden="true"></span>
			</div>
		</div>
		<div class="form-group col-sm-6">
			<label for="inoo" class="control-label col-xs-3 col-sm-3">邮箱</label>
			<div class="col-xs-9 col-sm-9">
				<input type="email" class="form-control"
					placeholder="some@gmail.com" id="index-email"> <span
					class="glyphicon glyphicon-ok form-control-feedback"
					aria-hidden="true"></span>
			</div>
		</div>
		<div class="form-group col-sm-12" id="index-textarea">
			<label for="dsa" class="control-label col-xs-3 ">留言</label>
			<div class="col-sm-9 col-xs-9 col-lg-9">
				<textarea id="index-textarea-mes" class="form-control" rows="7"
					placeholder="请输入您的留言，最少15个字"></textarea>
			</div>
		</div>
		<div class="col-sm-12 text-center">
			<a href="javascript:void(0);"
				class="btn btn-info index-submit col-sm-2 col-sm-offset-5">提交</a>
		</div>
	</form>


	<div class="form-group col-sm-12">
		<label for="dsa" class="control-label" class="col-md-3">留言</label>
		<div class="col-md-9">
			<textarea rows="7" placeholder="请输入您的留言，最少15个字">    </textarea>
		</div>
	</div>







</body>
</html>